{:paths   ["src" "resources" "target"]

 :deps    {org.clojure/clojure             {:mvn/version "1.9.0"}
           org.clojure/clojurescript       {:mvn/version "1.10.339"}
           com.bhauman/figwheel-main       {:mvn/version "0.1.4"}
           com.bhauman/rebel-readline-cljs {:mvn/version "0.1.4"}}

 :aliases {:build-dev {:main-opts ["-m" "figwheel.main" "-b" "dev" "-r"]}}}
