^{:css-dirs ["resources/public"]}
{:main         dex.viewer
 :foreign-libs [{:file     "node_modules/highland/dist/highland.js"
                 :file-min "node_modules/highland/dist/highland.min.js"
                 :provides ["highland.js"]
                 :global-exports {highland.js highland}}]}
