body { padding: 0.5em; }

h2 { text-decoration: gray solid underline; }

table {
    border-collapse: collapse;
    border: 2px solid purple;
    margin: 0.5em;
}

th { background-color: aliceblue; }
td,th { border: solid 1px lightblue; padding: 0.2em;}

.number.positive { color: green; }
.number.zero { color: lightgray; }
.number.negative { color: red; }
.symbol { font-family: monospace; }
.set { border: 1px dashed burlywood; border-radius: 2px; }
.set > .elem { display: block; border: 1px dotted green; border-radius: 4px; margin: 0.2em; }

.party img { width: 36px; height: 36px; }

table.signed td {
    background: repeating-linear-gradient(
            -45deg,
            palegoldenrod,
            palegoldenrod 10px,
            lightyellow 10px,
            lightyellow 20px
    );
}
