body { padding: 0.5em; }

h2 { text-decoration: gray solid underline; }

table {
    border-collapse: collapse;
    border: 2px solid purple;
    margin: 0.5em;
}

th { background-color: aliceblue; }
td,th { border: solid 1px lightblue; }

.abi { border: none; }
.abi h4 { margin-block-end: 0; }
.abi th { text-align: right; vertical-align: text-top; }
.abi th { padding: 0.5em 0.5em; }

.abi .input,
.abi .return {
    display: inline-block;
    padding: 0.2em 0.5em;
    margin: 0.2em 0.2em;
    border: 1px dotted gray;
    border-radius: 4px;
}

.abi .return { background-color: wheat; border: none; }

.abi .type { font-style: italic; color: grey; }
.abi .indexed { font-weight: bold; }
